
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("http://fonts.cdnfonts.com/css/minecraft-4");

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color:black;
  }

  #game-board {
    width: 100vmin;
    height: 70vmin;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
  }
  
  #tool-box {
    margin-left: 50px;
    background-color:black;
    width: 25vmin;
    height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

  }
   #blockHold{
    width: 25vmin;
    height: 100vmin; 
    display:flex;
    margin-left:10%;
  } 
  

  #holder1{
    width:15px;
    height:30px;
    padding:25px;
    margin-bottom:15px;
    border:none;
 
  }

 .toolPhotoUL{
    list-style: none;
} 
.toolPhoto{
  display:flex;
  flex-direction: column;
  align-items: center;
  height:25%;

}
.photoText{
  color:white;
  font-size:25px;
  margin-left:15px;
}
  .tree {
 background: url("/images/tree.jpeg");
  }
  
  .leaves {
    background: url("/images/grass.jpeg");
    /* background: url("/images/css_sprites.png") -210px -10px; */
  }
  
  .rock {
    background: url("/images/rock.jpeg");
    /* background: url("/images/css_sprites.png") -10px -110px; */
  }
  
  .ground {
    background: url("/images/ground.jpeg");
  }
  
  .grass {
    background: url("/images/grasswithgrass.jpeg");
    /* background: url("/images/css_sprites.png") -10px -10px; */
  }
  .cloud {
    background-color: rgb(255, 255, 255);
  }
  
  .sky{
    background-color: rgb(21, 147, 215);
  }
  .button1{
  background:black;
	width: 120px;
	height: 120px;
  border:none;
  display: flex;
  flex-direction: column;
  }
  .button1 img{
    width:80%;
    height:80%;
  }
  .button2{
  background:black;
	width: 120px;
	height: 120px;
  border:none;
  display: flex;
  flex-direction: column;
  }
  .text{
    font-size: 20px;
    color:white;
    margin-left:23px;
    font-family: "Minecraft", sans-serif;
    margin-top:5px;
  }
  .button2 img{
  width:80%;
  height:80%;
  }
  .button3{
    background:black;
    width: 120px;
    height: 120px;
    border:none;
    display: flex;
    flex-direction: column;
  }
  .button3 img{
    width:80%;
    height:80%;
  }
  .text3{
    font-size:20px;
    color:white;
    margin-left:40px;
    font-family: "Minecraft", sans-serif;
    margin-bottom:40px;;
  }